@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 13, 106, 143;
    --background-end-rgb: 8, 44, 74;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  display: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  appearance: textfield; /* Firefox */
}

.layover {
  background: rgb(13, 36, 98);
  background: linear-gradient(
    180deg,
    rgba(13, 36, 98, 0.7176120448179272) 0%,
    rgba(0, 58, 150, 0.571953781512605) 40%,
    rgba(229, 229, 227, 0.39548319327731096) 100%
  );
}

.preserve-3d {
  transform-style: preserve-3d;
}

.bg-two-star {
  background: linear-gradient(180deg, #4b6c67, #519072);
}

.bg-three-star {
  background: linear-gradient(180deg, #567496, #5392b8);
}

.bg-four-star {
  background: linear-gradient(180deg, #5e5789, #9c75b7);
}

.bg-five-star {
  background: linear-gradient(180deg, #945c2c, #b27330);
}
